.products {
  width: 98%;
  margin-top: 2rem;
  display: flex;

  align-items: center;
}

.container_div {
  width: 100%;
}

.header {
  width: 38%;
}

.main_div {
  justify-content: center;
  margin-left: 25px;
}
